<a href="<%= project_path(@conn, :new) %>">New Project</a>
<ul>
  <%= for project <- @projects do %>
    <li>
    <%= project.name %>
    <a href="<%= project_path(@conn, :edit, project.id) %>">Edit</a>
    <a href="<%= project_path(@conn, :destroy, project.id) %>">Delete</a>
    </li>
  <% end %>
</ul>
